# Ex1 - Filtering and Sorting Data



### Step 1. Import the necessary libraries

In [133]:

import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv) and assign it to a variable called chipo.

In [134]:
chipo = pd.read_csv("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv",sep="\t")  #"\t es el tabulador"
chipo

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",$11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",$11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",$8.75

### Step 3. Name of the max valued product

In [135]:
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

In [136]:
chipo["item_price"] = chipo["item_price"].str.replace("$","").astype(float)  #reemplazar los valores de $ con replace y pasarlo a float con astype

In [137]:

valor_max = (chipo["item_price"]/chipo["quantity"]).idxmax()   #el item price no es el unitario. sacamos unitario y buscamos el id del valor maximo
print(valor_max)
print("****************************")
chipo["valor_unit"] = (chipo["item_price"]/chipo["quantity"])  #creamos columna valor unitario. No se pide pero agiliza
mask = chipo["valor_unit"]==chipo["valor_unit"].max() #crear mascara para tener todos los que de valor unitario tengan el valor maximo
productos_mas_caros = chipo.loc[mask,"item_name"] #usar chipo.loc con el condicional de mask
print (type(productos_mas_caros))
productos_mas_caros.unique() #hacer unicos los valores de la serie

281
****************************
<class 'pandas.core.series.Series'>

array(['Steak Salad Bowl', 'Carnitas Salad Bowl', 'Barbacoa Salad Bowl'],
      dtype=object)

In [138]:
chipo

,order_id,quantity,item_name,choice_description,item_price,valor_unit
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39,2.39
1,1,1,Izze,[Clementine],3.39,3.39
2,1,1,Nantucket Nectar,[Apple],3.39,3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98,8.49
...,...,...,...,...,...,...
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75,11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75,11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25,11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75,8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75,8.75

### Step 4. How many products cost more than $10.00?

In [139]:
mayor_diez = chipo.loc[chipo["valor_unit"]>10,"item_name"]   #buscar con el loc usando condicion 
print(type(mayor_diez))
mayor_diez.unique().size

<class 'pandas.core.series.Series'>

25

### Step 4.1: Y cuÃ¡ntos pedidos se han hecho con un producto de mÃ¡s de 10$? Es lo mismo?

In [140]:
pedidos_con_prod = chipo.loc[chipo["valor_unit"]>10, "order_id"].nunique()
print(pedidos_con_prod)

787

### Step 4.2: Y cuÃ¡ntos pedidos se han hecho de mÃ¡s de 10$? Es lo mismo?

In [141]:

pedidos = chipo.groupby("order_id").sum()
print(type(pedidos))
print("*****************************")
pedidos_mas_10 = pedidos[["item_price"]]>10
print(pedidos_mas_10)
pedidos_mas_10.count()

<class 'pandas.core.frame.DataFrame'>
*****************************
          item_price
order_id
1               True
2               True
3               True
4               True
5               True
...              ...
1830            True
1831            True
1832            True
1833            True
1834            True

[1834 rows x 1 columns]

item_price    1834
dtype: int64

### Step 4.3: Y en cuÃ¡ntos pedidos se ha pagado mÃ¡s de 10$ por un mismo producto? Es lo mismo?

In [144]:
filtro = chipo["item_price"] > 10  
print (filtro)
print ("*******************")
prod_mas_10 = chipo.loc [filtro,"order_id"].nunique()
print(prod_mas_10)

0       False
1       False
2       False
3       False
4        True
        ...
4617     True
4618     True
4619     True
4620    False
4621    False
Name: item_price, Length: 4622, dtype: bool
*******************
863

### Step 5. What is the price of each item and name it unit_price. Get only item_name and unit_price

In [ ]:
item_and_price = chipo[["item_name", "valor_unit"]].drop_duplicates() #elimina duplicados del par de columnas
print (item_and_price)

                                  item_name  valor_unit
0              Chips and Fresh Tomato Salsa        2.39
1                                      Izze        3.39
2                          Nantucket Nectar        3.39
3     Chips and Tomatillo-Green Chili Salsa        2.39
4                              Chicken Bowl        8.49
...                                     ...         ...
3989                          Chicken Salad        8.19
4235                           Chicken Bowl        8.50
4237                    Chips and Guacamole        4.25
4509                                  Chips        1.99
4510                          Barbacoa Bowl       11.49

[139 rows x 2 columns]

### Step 6. Sort by the name of the item

In [146]:
chipo_ordenado = chipo.sort_values(by='item_name')
chipo_ordenado

,order_id,quantity,item_name,choice_description,item_price,valor_unit
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98,6.49
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49,6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49,6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49,6.49
...,...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75,8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75,8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49,8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25,11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49,8.49

### Step 7. What was the quantity of the most expensive item ordered? 2 ways

In [147]:

mask = chipo["valor_unit"]==chipo["valor_unit"].max()
productos_mas_caros = chipo.loc[mask,"quantity"]
print(productos_mas_caros.sum())

30

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [ ]:
veces_pedido = (chipo["item_name"] == "Veggie Salad Bowl").sum()  #chipo item... == ... crea una serie de trues y falses. Comn sum se suman los 1 de los 
print(veces_pedido)
#lo correcto seria plantearlo tambien por cantidades

18

### Step 9. How many times did someone order more than one Canned Soda?

In [149]:
index_sodas = chipo.index[chipo["item_name"] == "Canned Soda"]
index_sodas
cantidades_soda = chipo.loc[index_sodas,"quantity"]
print(cantidades_soda)
cant_filtradas = cantidades_soda[cantidades_soda>1].count()
print(cant_filtradas)

18      2
28      1
51      2
53      1
107     1
       ..
3897    1
3926    1
3936    1
4008    1
4051    1
Name: quantity, Length: 104, dtype: int64
20