#MODELOS

In [ ]:
import pandas as pd 
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.model_selection import train_test_split
from sklearn

In [4]:
df = pd.read_csv("data/datos_procesados.csv")
df.head()

         make            model  ... is_professional   province
0     CITROEN               C1  ...            True   Tenerife
1        FORD  Transit Connect  ...            True  Barcelona
2  VOLKSWAGEN        Caravelle  ...            True    Navarra
3        FORD          Transit  ...            True    Sevilla
4     PEUGEOT             3008  ...            True     Madrid

[5 rows x 13 columns]

# X,y, train y test

In [6]:
X = df[["year", "kms", "power", "doors", "is_professional"]]
y = df["price"]

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state=11)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)

(32996, 5)
(32996,)
(8249, 5)
(8249,)

##Linear Regresion

In [ ]:
lr = LinearRegression()
lr.fit(X_train,y_train)
pred_lr = lr.predict(X_test)

#printar metricas